<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Deaths</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar name="search" [(ngModel)]="search" placeholder="Search by Responsible" cancelButtonText="Cancel"></ion-searchbar>
  <ion-list>
    <div *ngFor="let death of deaths | async">
      <ion-item *ngIf="filter(death)">
        <ion-label>
          
          <ion-icon name="bug-sharp" slot="start"></ion-icon> {{ death.death }} 
            
          <p>Number of Deaths: {{death.number_of_deaths}}</p>

       </ion-label>
    </ion-item>
    </div>
    
  </ion-list> 
</ion-content>